<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChicCraze</title>
    <link rel="stylesheet" href="../css/checkout.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=home" />
    <link rel="icon" type="image/png" href="../storage/img/iconos/Type=Default, Category=linear, Library=tshirt.png" sizes="16x16">
</head>
<body>
    <main>
        <div class="parent">
            <a class="back" href="../index.html">
                <img src="../storage/img/iconos/Type=outline, Library=arrow-left (1).png" alt="">
            </a>
            <div class="div2">Checkout</div>
            <a class="ajust" href="#">
                <img class="icon normal" src="../storage/img/iconos/Type=outline, Library=menu.png" alt="">
                
                <img class="icon hover" src="../storage/img/iconos/Type=outline, Library=menu (1).png" alt="">
            </a>
        </div> 
        <div class="container">
            <div class="parent1">
                <div class="div3">
                    <img class="img" src="../storage/img/vestidos/Zingj Vintage Leaves Print Maxi Dress-Outfit Ideas Dark Green Sling Dress-L.jpg" alt="">
                </div>
                <div class="div4">
                    <p class="div4_1">Selva Vintage</p>
                    <div class="div4_2">Dress</div>
                </div>
                <a href="#" class="div5">
                    <img class="icon2" src="../storage/img/iconos/Type=outline, Library=menu1.png" alt="">
                </a>
                <div class="div6">
                    <p class="div6_1">$68.15</p>
                </div>
                <div class="div7">
                    <a class="ajust" href="#">
                        <img class="icon2 normal" src="../storage/img/iconos/Type=default, Category=linear, Library=minus.png" alt="">
                        
                        <img class="icon2 hover" src="../storage/img/iconos/Type=default, Category=linear, Library=minus (1).png" alt="">
                    </a>
                </div>
                <div class="div8">1</div>
                <div class="div9">
                    <a class="ajust" href="#">
                        <img class="icon2 normal" src="../storage/img/iconos/Type=default, Category=linear, Library=add.png" alt="">
                        
                        <img class="icon2 hover" src="../storage/img/iconos/Type=default, Category=linear, Library=add (1).png" alt="">
                    </a>
                </div>
            </div>
            <div class="parent1">
                <div class="div3">
                    <img class="img" src="../storage/img/accesorios/descarga (6).jpg" alt="">
                </div>
                <div class="div4">
                    <p class="div4_1">Boho Sol</p>
                    <div class="div4_2">accesory</div>
                </div>
                <a href="#" class="div5">
                    <img class="icon2" src="../storage/img/iconos/Type=outline, Library=menu1.png" alt="">
                </a>
                <div class="div6">
                    <p class="div6_1">$70.15</p>
                </div>
                <div class="div7">
                    <a class="ajust" href="#">
                        <img class="icon2 normal" src="../storage/img/iconos/Type=default, Category=linear, Library=minus.png" alt="">
                        
                        <img class="icon2 hover" src="../storage/img/iconos/Type=default, Category=linear, Library=minus (1).png" alt="">
                    </a>
                </div>
                <div class="div8">1</div>
                <div class="div9">
                    <a class="ajust" href="#">
                        <img class="icon2 normal" src="../storage/img/iconos/Type=default, Category=linear, Library=add.png" alt="">
                        
                        <img class="icon2 hover" src="../storage/img/iconos/Type=default, Category=linear, Library=add (1).png" alt="">
                    </a>
                </div>
            </div>
            <div class="parent1">
                <div class="div3">
                    <img class="img" src="../storage/img/zapatos/8eaded5e-e066-41ac-9efa-b2352bbd5383.jpg" alt="">
                </div>
                <div class="div4">
                    <p class="div4_1">Botas Coyote</p>
                    <div class="div4_2">Shoes</div>
                </div>
                <a href="#" class="div5">
                    <img class="icon2" src="../storage/img/iconos/Type=outline, Library=menu1.png" alt="">
                </a>
                <div class="div6">
                    <p class="div6_1">$160.15</p>
                </div>
                <div class="div7">
                    <a class="ajust" href="#">
                        <img class="icon2 normal" src="../storage/img/iconos/Type=default, Category=linear, Library=minus.png" alt="">
                        
                        <img class="icon2 hover" src="../storage/img/iconos/Type=default, Category=linear, Library=minus (1).png" alt="">
                    </a>
                </div>
                <div class="div8">1</div>
                <div class="div9">
                    <a class="ajust" href="#">
                        <img class="icon2 normal" src="../storage/img/iconos/Type=default, Category=linear, Library=add.png" alt="">
                        
                        <img class="icon2 hover" src="../storage/img/iconos/Type=default, Category=linear, Library=add (1).png" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="parent2">
            <p class="parent2_div1">Shopping Information</p>
            <a href="#" class="parent2_div2">
                <img class="parent2_div2_1" src="../storage/img/iconos/Type=default, Category=linear, Library=card.png" alt="">
                <p class="parent2_div2_2">**** **** **** 2343</p>
                <img class="parent2_div2_3" src="../storage/img/iconos/Type=outline, Library=arrow-down.png" alt="">
            </a>
        </div>
        <div class="parent3">
            <div>
                <div class="parent3_div1 deco1">
                    <div class="parent3_div1_1 deco">Total(3 items)</div>
                    <div class="parent3_div1_2 deco a">$300.97</div>
                </div>
                <div class="parent3_div2 deco1">
                    <div class="parent3_div2_1 deco">Shopping fee</div>
                    <div class="parent3_div2_2 deco a">$0.00</div>
                </div>
                <div class="parent3_div3 deco1">
                    <div class="parent3_div3_1 deco">Descuento</div>
                    <div class="parent3_div3_2 deco a">$0.00</div>
                </div>
                <hr>
                <div class="parent3_div3 deco1">
                    <p class="parent3_div4_1 deco">Total</p>
                    <p class="parent3_div4_2 deco a">$300.97</p>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="up">
            <a href="../views/checkout.html" class="floatmenu">
                <p class="text1">Pay</p>
            </a>
        </div>
    </footer>
</body>
</html>