<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChicCraze</title>
    <link rel="stylesheet" href="../css/detail.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=home" />
</head>
<body>
    <main class="a">
        <div class="nav1">
            <div class="nav1_1">
                <img class="img" src="../storage/img/faldas/61573c84-c7bf-4109-9ecd-a3be362d5357.jpg" alt="">
                <a class="back" href="../index.html">
                    <img class="icon" src="../storage/img/iconos/Type=outline, Library=arrow-left.png" alt="">
                </a>
                <a class="like bot" href="#">
                    <img class="icon normal" src="../storage/img/iconos/Type=outline, Library=heart (3).png" alt="">
                    <img class="icon hover" src="../storage/img/iconos/Type=outline, Library=heart (4).png" alt="">
                </a>
            </div>
            <div class="tit">
                <div class="parent">
                    <div class="tit_parent__1"><h1>Boho Tribal Falda</h1></div>
                    <div class="tit_parent__2"><h2>$35.99</h2></div>
                    <a href="#" class="tit_parent__3 botton">
                        <img class="icon normal" src="../storage/img/iconos/Type=default, Category=linear, Library=minus.png" alt="">
                        <img class="icon hover" src="../storage/img/iconos/Type=default, Category=linear, Library=minus (1).png" alt="">
                    </a>
                    <div class="tit_parent__4 inp">1</div>
                    <a href="#" class="tit_parent__5 botton">
                        <img class="icon normal" src="../storage/img/iconos/Type=default, Category=linear, Library=add.png" alt="">
                        <img class="icon hover" src="../storage/img/iconos/Type=default, Category=linear, Library=add (1).png" alt="">
                    </a>
                </div>
            </div>
            <div class="desc">
                <input type="checkbox" id="toggle1">
                <p class="text">
                    Falda larga estilo boho con estampado tribal en tonos tierra y negro.
                  <span class="dots">...</span>
                  <span class="more">
                    Tela ligera, cintura elástica y caída fluida, ideal para días soleados o festivales. Perfecta para un vibe relajado y espiritual 🌿✨
                  </span>
                </p>
                <label for="toggle1" class="read-more">Read more</label>
            </div>
        </div>
        <div class="parent1">
            <div class="div1">Choose Size</div>
            <div class="div2">Color</div>
            <a href="#" class="size">S</a>
            <a href="#" class="size">M</a>
            <a href="#" class="size">L</a>
            <a href="#" class="size">XL</a>
            <a href="#" class="div6"></a>
            <a href="#" class="div7"></a>
            <a href="#" class="div8"></a>
        </div>
    </main>
    <footer>
        <div class="up">
            <a href="../views/checkout.html" class="floatmenu">
                <img class="icons" src="../storage/img/iconos/Type=outline, Library=shopping-cart.png" alt="">
                <p class="text1">Add to Cart | $35.99</p>
                <p class="text2">$190.99</p>
            </a>
        </div>
    </footer>
</body>
</html>